* {
  box-sizing: border-box;
}

/* Declaring css variables */ 
:root {
  -blue-lagoon: #094af1;
  -blood-orange: #f56e51;
  -flaming-breath: #fbebe6;
  -black: #000000;
  -rocky-grey: #818592;
  -white: #ffffff;
  -dark-lagoon: #1c326a;
  }
  

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
